@model IEnumerable<QuizApp.Models.AnswerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var i = 1;
}

<h3>Quiz: @ViewBag.QuizTitle</h3>
<h4>Question: @ViewBag.Question</h4>
<h4>Correct Answer: @ViewBag.CorrectAnswer</h4>
<hr/>

<h4 class="h4 font-weight-bold">Answer options</h4>

<div class="col-6">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">#@i @item.AnswerOption</li>
            <li class="list-group-item list-group-item-warning"><a asp-controller="Answer" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
            <li class="list-group-item list-group-item-danger"><a asp-controller="Answer" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
            i += 1;
        }

    </ul>
</div>
<div>
    <a asp-controller="Question" asp-action="Index">Back to List</a>
</div>
