@model QuizApp.Models.QuizModel

@{
    ViewData["Title"] = "Quiz App | Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<p class="display-4">Delete quiz</p>
<hr/>

<table class="table table-responsive">
    <thead>
        <tr class="bg-info">
            <th>Category</th>
            <th>Title</th>
            <th>Description</th>
            <th>Total Questions</th>
            <th>Passing Percentage</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.CategoryId
            </td>
            <td>@Model.Title</td>
            <td>@Model.Description</td>
            <td>@Model.TotalQuestions</td>
            <td>@Model.PassingPercentage</td>
            <td>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                   
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-controller="Quiz" asp-action="Index">Back to List</a>
</div>
