@model System.Collections.Generic.IEnumerable<QuizApp.Models.QuizModel>

@{
    ViewData["Title"] = "Index";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Admin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_User.cshtml";
    }
}

<h4 class="h4 font-weight-bold">Quizzes</h4>


@if (User.IsInRole("Admin"))
{
    <table class="table table-responsive">
        <thead>
            <tr class="bg-info">
                <th>Category</th>
                <th>Title</th>
                <th>Description</th>
                <th>Total Time</th>
                <th>Total Questions</th>
                <th>Passing Percentage</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Category.Name</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.TotalTime min</td>
                    <td>@item.TotalQuestions</td>
                    <td>@item.PassingPercentage %</td>
                    <td>
                        <a asp-controller="Question" asp-action="Create" asp-route-quizId="@item.Id">Add question</a> |
                        <a asp-controller="Quiz" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Quiz" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card-group">
        @foreach (var quiz in Model)
        {
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <h5 class="card-header">Quiz: @quiz.Title</h5>
                <div class="card-body">
                    <p class="card-text">Category: @quiz.Category.Name</p>
                    <h5 class="card-title">@quiz.Description</h5>
                    <p class="card-text">Time: @quiz.TotalTime min</p>
                    <p class="card-text">Questions: @quiz.TotalQuestions</p>
                    <p class="card-text">Passing: @quiz.PassingPercentage %</p>
                </div>
                <div class="card-footer bg-transparent border-light">
                    <div class="btn-group">
                        <a class="btn btn-warning" asp-controller="Quiz" asp-action="Attempt" asp-route-quizId="@quiz.Id">Attempt now!</a>
                    </div>
                </div>
            </div>
        }
    </div>
}