@model System.Collections.Generic.IEnumerable<QuizApp.Models.QuizModel>

@{
    ViewData["Title"] = "Index";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Admin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_User.cshtml";
    }
    var m = 1;
}

<p class="display-4">Quizzes</p>
<hr/>


@if (User.IsInRole("Admin"))
{
    <table class="table table-responsive">
        <thead>
            <tr class="bg-info">
                <th>Category</th>
                <th>Title</th>
                <th>Description</th>
                <th>Total Time</th>
                <th>Total Questions</th>
                <th>Passing Percentage</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Category.Name</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.TotalTime min</td>
                    <td>@item.TotalQuestions</td>
                    <td>@item.PassingPercentage %</td>
                    <td>
                        <ul style="list-style-type: none; text-align: left">
                            <li><a asp-controller="Quiz" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                            <li><a asp-controller="Quiz" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                            @for (var i = 1; i < item.TotalQuestions + 1; i++)
                            {
                                <li><a asp-controller="Question" asp-action="Create" asp-route-quizId="@item.Id" asp-route-questionNumber="@i">Add question no @i </a></li>
                            }
                        </ul>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card-group">
        @foreach (var quiz in Model)
        {
            <div class="card-deck">
                <div class="card text-white bg-info">
                    <h5 class="card-header">Quiz: @quiz.Title</h5>
                    <div class="card-body">
                        <p class="card-text">Category: @quiz.Category.Name</p>
                        <h5 class="card-title">@quiz.Description</h5>
                        <p class="card-text">Time: @quiz.TotalTime min</p>
                        <p class="card-text">Questions: @quiz.TotalQuestions</p>
                        <p class="card-text">Passing: @quiz.PassingPercentage %</p>
                    </div>
                    <div class="card-footer bg-transparent border-light">
                        <div class="btn-group">
                            <a class="btn btn-warning" asp-controller="Quiz" asp-action="Attempt" asp-route-quizId="@quiz.Id" asp-route-questionNumber="1">Attempt now!</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}