@model List<QuizApp.Models.ResultModel>

@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_User.cshtml";
}
@{
    var i = 1;
}

<p class="display-4">Ranking</p>
<hr />

<table class="table table-responsive">
    <thead class="text-white">
        <tr class="bg-info">
            <th>#</th>
            <th>User</th>
            <th>Category</th>
            <th>Quiz</th>
            <th>Date</th>
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.UserName</td>
                <td>@item.QuizCategory</td>
                <td>@item.QuizTitle</td>
                <td>@item.AttemptDate</td>
                <td>@item.TotalScore</td>
            </tr>
            i += 1;
        }
    </tbody>
</table>

