@model List<QuizApp.Models.ResultModel>

@{
    ViewData["Title"] = "Quiz App | My Results";
    Layout = "~/Views/Shared/_User.cshtml";

}

<p class="display-4">My results</p>
<hr />

<table class="table table-responsive">
    <thead class="text-white">
    <tr class="bg-info">
        <th>#</th>
        <th>Category</th>
        <th>Quiz</th>
        <th>Date</th>
        <th>Total Score</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.QuizCategory</td>
            <td>@item.QuizTitle</td>
            <td>@item.AttemptDate</td>
            <td>@item.TotalScore</td>
            <td><a asp-controller="Quiz" asp-action="ResultDetails" asp-route-resultNo="@item.Id">Details</a></td>
        </tr>
    }
    </tbody>
</table>


