@model IEnumerable<QuizApp.Models.QuestionModel>

@{
    ViewData["Title"] = "Quiz App";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h4 class="h4 font-weight-bold">Questions</h4>

<table class="table table-responsive">
    <thead>
    <tr class="bg-info">
        <th>QuizId</th>
        <th>CategoryId</th>
        <th>Question</th>
        <th>Correct Answer</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.QuizId
            </td>
            <td>@item.Quiz.CategoryId</td>
            <td>@item.Question</td>
            <td>@item.CorrectAnswer</td>
            <td>
                <a asp-controller="Question" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Question" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>